$table-border-color: rgb(43, 94, 156);
$primary-color: rgb(51, 120, 204);
$secondary-color: rgb(50, 98, 156);

th {
    padding: 1rem;
}
td {
    padding: .3rem;
}
th, td {
   border: solid $table-border-color .1rem; 
   border-collapse: collapse;
} 
th {
    background: $primary-color;
    color: white;
}
table {
    margin: 0% auto;
    align-content: center;
    padding: 0rem;
    border-collapse: collapse;
}
.input-container {
    margin-top: 3rem;
}
.input-container > input, .input-container > button {
    padding: .6rem;
    width: 10.9rem;
}
.input-container > input {
    border: none;
    border-bottom: solid rgb(179, 179, 179) .1rem;
}
.expense-input-wrapper > input {
    border: none;
    border-bottom: solid rgb(255, 255, 255) .1rem;
}
.input-container > input:focus, .expense-input-wrapper > input:focus, select:focus {
    outline: none;
    border-bottom: solid rgb(0, 0, 0) .1rem;
}
.input-container > button, .expense-button-wrapper > button, td > button {
    background: $primary-color;
    border: solid $primary-color .1rem;
    color: white;
}
.input-container > button:hover, .expense-button-wrapper > button:hover, td > button:hover {
    background: $secondary-color;
    border-color: $secondary-color;
}
.expense-input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 300px;
    padding: 1rem;
}
.expense-input-wrapper > input, select {
    padding: .7rem;
}
.expense-button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: .4rem;
}
.expense-button-wrapper > button {
    padding: .4rem;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: .5rem;
}
.expense-input-wrapper {
    background: rgba(195, 221, 243, 0.728);
    padding: 2rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border: solid $table-border-color .10rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 9px 2px rgba(79, 79, 79, 0.363);
}
select {
    border: none;
    border-bottom: solid rgb(255, 255, 255) .1rem;
}
td > button {
    padding: .2rem;
    padding-left: .6rem;
    padding-right: .6rem;
    margin: .3rem;
}
.highlight-red {
    background: rgba(241, 100, 100, 0.776);
    color: rgb(114, 5, 5);
}