<div class="container">

    <div>
        <h2 align="center">Total Monthly Funds: ${{budgetTotal}}</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Expense Name</th>
                        <th>Cost</th>
                        <th>Priority</th>
                        <th>Desired % of Total Monthly Funds</th>
                        <th>Actual % of Total Monthly Funds</th>
                        <th>Edit/Delete Entry</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- this needs to be rendered dynamically -->
                    <tr *ngFor="let data of expenses">
                        <td>{{data.expenseName}}</td>
                        <td>${{data.costAmount}}</td>
                        <td>{{data.priority}}</td>
                        <td>{{data.desiredPercentage}}%</td>
                        <td [ngClass]="{'highlight-red' : data.actualPercentage > data.desiredPercentage}">{{data.actualPercentage}}%</td>
                        <td align="center">
                            <button (click)="editRow(data)"><i class="fas fa-pen"></i></button>
                            <button (click)="deleteRow(data)"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>            
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div class="input-container" align="center">
            <input [(ngModel)]="budgetInput" id="budgetInput" placeholder="Enter Amount"/>
            <button (click)="updateBudgetAmount(budgetInput)">Add Budget</button>
        </div>

        <div class="expense-container" align="center">
            <div class="expense-input-wrapper">
                <label for="select">Expense Name</label>
                <input [(ngModel)]="input.expenseName" type="text" placeholder="eg. Phone Bill" />
                <label for="select">Cost</label>
                <input [(ngModel)]="input.costAmount" type="text" placeholder="eg. 50" />
                <label for="select">Priority</label>
                <select [(ngModel)]="input.priority" name="priorityDropdown">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>   
                <label for="select">Desired Percentage Amount</label>
                <input [(ngModel)]="input.desiredPercentage" type="text" placeholder="eg. 15%" />
                <div class="expense-button-wrapper">
                    <button (click)="addExpense()">Add</button>
                    <button (click)="cancelExpense()">Cancel</button>
                </div>
            </div> 
        </div>
    </div>
</div>