<h1 align="center">Total Budget: ${{budgetTotal}}</h1>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Expense</th>
                <th>Cost</th>
                <th>Priority</th>
                <th>Desired Percentage of Total Monthly Funds</th>
                <th>Actual Percentage of Total Monthly Funds</th>
                <th>Remove Entry</th>
            </tr>
        </thead>
        <tbody>

            <!-- this needs to be rendered dynamically -->
            <tr *ngFor="let data of expenses">
                <td>{{data.expenseName}}</td>
                <td>{{data.costAmount}}</td>
                <td>{{data.priority}}</td>
                <td>{{data.desiredPercentage}}</td>
                <td>{{data.actualPercentage}}</td>
                <td><button>Delete</button></td>
            </tr>            
        </tbody>
    </table>
</div>


<div class="input-container" align="center">
    <input [(ngModel)]="budgetInput" id="budgetInput" placeholder="Enter Amount"/>
    <button (click)="updateBudgetAmount(budgetInput)">Add Budget</button>
</div>

<div class="expense-container" align="center">
    <div class="expense-input-wrapper">
        <label for="select">Expense Name</label>
        <input [(ngModel)]="input.expenseName" type="text" placeholder="eg. Phone Bill" />
        <label for="select">Cost Amount</label>
        <input [(ngModel)]="input.costAmount" type="text" placeholder="eg. 50" />
        <label for="select">Priority</label>
        <select [(ngModel)]="input.priority" name="priorityDropdown">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
        </select>   
        <label for="select">Desired Percentage Amount</label>
        <input [(ngModel)]="input.desiredPercentage" type="text" placeholder="eg. 15%" />
        <div class="expense-button-wrapper">
            <button (click)="addExpense()">Add</button>
            <button (click)="cancelExpense()">Cancel</button>
        </div>
    </div> 
</div>