@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$primary-color: rgb(51, 120, 204);

* {
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
img {
    max-width: 4rem;
    max-height: 4rem;
    transform: skewY(3deg);
    margin-bottom: .9rem;
}
h1 { 
    text-align: center;
    font-size: 2rem;
    transform: skewY(3deg);
}
footer {
    background: $primary-color;
    padding: 12rem;
    margin: 0;
    margin-top: 7rem;
}
.skew {
    background: $primary-color;
    padding: 3rem;
    transform: skewY(-3deg);
    margin-top: -3.2rem;
    margin-bottom: 4rem;
    color: white;
}
